body {
    background-color: rgb(135, 232, 227);
  }
  
  h1 {
    color: rgb(255, 255, 255);
  }
  
  .center {
        text-align: center;
  }

.fonte-verde {
  color: rgb(26, 167, 47);
}

  #para {
   font-family: verdana;
   font-size:  20px;
  }