body
  background-color: blue(230,230,250,123);
  
  h2 {
    color: rgb(37, 64, 99);
  }
  
  body {
    background-color: rgb(201, 235, 247);
  }

  p {
    text-align: center;
    }

 h1 {
  color: rgb(147, 183, 230);
  background-color: lavander;
  border: 2px solid rgb(234, 195, 252);
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
 }

h2 {
  color: rgb(168, 184, 202);
}
p{
  font-family: 'Times New Roman', Times, serif;
  font-size: 18px;
}