body {
  /*background-color: blue(230,230,250,123);*/
  background-image: url("fundo.html");
  font-family: 'Playfair Display', serif;
}

 h1 {
  color: rgb(147, 183, 230);
  border: 2px solid rgb(255, 255, 255);
  text-align: center;
  font-size: 40px; 
 }

p {
  text-indent: 100px;
  text-align: justify;
  letter-spacing: 0,8px;
  font-family: 'Playfair Display', serif;
  color: white;
}

.fonte-branca {
color: white;
border: 5px solid read;
border-radius: 20px;
}

.link{
text-align: center;
font-size: 30px;
text-transform: capitalize;
border-style: solid;
border-color: white;
}

.link a {
text-decoration: none;
color:white;
text-shadow:  2px 2px 5px rgb(255, 255, 255);
}
